# Project exclude paths
/eurekanettyclient/target/
/eurekanettyserver/target/
/eurekaserver/target/
/hystrix/target/
/ribbon/target/
/zuulgateway/target/
/account/target/
/configserver/target/

# 屏蔽有密码的文件
/config/accountapplication.properties
/configserver/src/main/resources/application.yml